#!/ bin/bash

# user login
USER_LOGIN=""
# user password
USER_PASS=""
## LDAP Public Key to generate LDAP token
LDAP_PUBLIC_KEY=""
## LDAP Private Key to generate LDAP token
LDAP_PRIVATE_KEY=""
# LDAP url
# example : ldap://ldap.example.com:389
LDAP_URL=""
# LDAP BASE
# example : dc=DC,dc=DC,dc=DC,dc=DC
LDAP_BASE=""