## List of managers and its services to monitor
MANAGERS_TO_MONITOR=

## Manager url
MANAGER_URL=""
## Number of orders
COUNT_ORDERS=""
## Order requirements
## default : "Glue2RAM >= 1024"
ORDER_REQUIREMENTS=""
## Order image
ORDER_IMAGE=""

## Fogbow cli path
FOGBOW_CLI_PATH=""

## token plugin
## types : ldap, raw-token
TOKEN_PLUGIN=""

## database configuration
DATABASE_NAME=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_IP=""
DATABASE_PORT=""

## private key to access VMs
SSH_PRIVATEKEY=""
## public key to inject into VMs
SSH_PUBLICKEY=""

## Monitoring compute
# Amount of checking ssh connection tries 
INSTANCE_IP_TIMEOUT_RETRIES=12
# Sleep time to wait between $INSTANCE_IP_TIMEOUT_RETRIES in seconds
INSTANCE_IP_TIMEOUT=10
# Amount of checking fulfield orders tries 
FULFIELD_ORDERS_TIMEOUT_RETRIES=100
# Sleep time to wait between $FULFIELD_ORDERS_TIMEOUT_RETRIES in seconds
FULFIELD_ORDERS_TIMEOUT=10

## Cachet
CACHET_IP=""
# Key of cachet deploy
CACHET_APP_KEY=""

## run garbage collector in the end
GARBAGE_COLLECTOR_END_SCRIPT=true
# in seconds
# default: 7200 seconds / 2 hours
TIME_TO_START_GARBAGE_COLLECTOR_END_SCRIPT=7200